body {
	margin-top: 2rem;
}

main, header {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.file-exists, 
.file-exists a {
	color: green;
}

.file-not-exists, 
.file-not-exists a {
	color: red;
}