@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 1s infinite;
}

.container {
    text-align: center;
}

#randomizer {
    background-color: #ff00ff; /* Bright color for contrast */
    border: 2px solid #ffffff; /* White border for more visibility */
    color: black; /* Dark text for contrast */
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Press Start 2P', cursive;
}

a, #studentDisplay a {
    color: #00ffff; /* Cyan color for links */
    text-decoration: none;
}

a:hover, #studentDisplay a:hover {
    color: #ff0000; /* Red color on hover */
    text-decoration: underline;
}

@keyframes blink {
    0% { background-color: black; }
    50% { background-color: blue; }
    100% { background-color: black; }
}
